/*===============================================
   Shared
================================================= */
body {
	/*font-size: 15px;*/
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	background-color: #f2f2f2;
}
/*version id*/
.vid {
  float: right;
  opacity: 0.9;
  color: #d9534f;
  font-size: 15px;
  font-weight: 600;
}

p.lead {
  font-size: 18px;
}

p.alt {
  font-size: 15px;
  line-height: 23px;
}

.label-system {
  background-color: #48c9a9;
}
.label-alert {
  background-color: #967adc;
}

/*===============================================
   Headers
================================================= */
.header {
	border-bottom: 1px solid #e8e8e8;
	margin-top: 25px;
	margin-bottom: 15px;
}
.header h4 {
	font-weight: 500;
}


/*===============================================
   Containers
================================================= */
.well {
	background-color: #EEE;
	box-shadow: none;
	border: 1px solid #DDD;
	border-radius: 2px;
}
.well ul li + li {
	padding-top: 8px;
}


/*===============================================
   Tables
================================================= */
table {
  font-size: 13px;
}

/*striped row bgs*/
.table-striped>tbody>tr:nth-of-type(odd) {
   background-color: transparent;
}
.table-striped>tbody>tr:nth-of-type(even) {
   background-color: #eaeaea;
}
/*table row hover*/
.table-hover>tbody>tr:hover {
   background-color: #f9f9f9;
}

/* first column (label) */
table > tbody > tr > td:first-child {
   width: 80px;
   vertical-align: middle;
   padding: 4px 8px;
}
table > tbody > tr > td:first-child .label {
   width: 100%;
   display: inline-block;
   padding: 4px;
   text-align: center;
   text-transform: uppercase;
   font-weight: 600;
}


/* FOO RELATED - row bgs */
.footable-even {}
.footable-odd { background-color: #f4f4f4; }

/* FOO RELATED - table row open */
table > tbody > tr.footable-row-detail {
	background-color: #FFF !important;
}
/* FOO RELATED - table toggle row icon */
.footable.breakpoint>tbody>tr>td>span.footable-toggle {
	float: right;
	font-size: 10px;
	padding-top: 2px;
}






/*===============================================
   Elements
================================================= */
.label.label-primary {
   background-color: #0099cc;
}


/*===============================================
   Helpers
================================================= */
.mt {
	margin-top: 25px;
}
hr {
	border-color: #DDD;
}
